<% provide(:title, @user.name) %>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<p>The current time is: <%= Time.now %></p>
<p>The user was created at <%= @user.created_at %></p>
<p>The user was last updated at <%= @user.updated_at %></p>
