<h2>User Name</h2>
  <%= @user.name %>
<hr>
<h2>User Email</h2>
  <%= @user.email %>
<p>The current time is: <%= Time.now %></p>
<p>The user was created at <%= @user.created_at %></p>
<p>The user was last updated at <%= @user.updated_at %></p>
